.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to top right, #1379ff, #6af5ff);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  margin: 0;
}

h1{
  margin: 0;
}

h2{
  margin: 0;
}