.SignUpPageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: auto 0 auto 0;
}

.SignUpPageLeftCol{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    text-align: left;
    margin-left: 8%;
}

.SignUpPageRightCol{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.SignUpPageContainer h2{
    color:rgba(0, 89, 255, 0.678);
    font-family: 'Poppins';
    margin: 0 0 0 0;
}

.SignUpPageContainer h1{
    color:rgb(1, 103, 255);
    font-family: 'Poppins';
    margin: 20px 20px 20px 0;
}

.FormLabel{
    font-size: 22px;
    font-family: 'Poppins';
    color:rgba(0, 89, 255, 0.678);
}

.FormControl{
    border-radius: 10px;
}